* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Georgia', 'Times New Roman', serif;
}

input, textarea, button {
  font-family: inherit;
}
